.cards {
    position: relative;
    padding: 0 3rem 200px 3rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-gap: 3%;
    grid-row-gap: 30px;
}
