* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none !important;
}

body {
    background-color: #191919;
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
}